body{
   position: relative;
   background:#f4f4f4!important;
}
@media(max-width:768px){
	.bt1-index{
		margin: 40vh auto 0;
		width: 70%;
	}
	.bt2-index{
		margin: 50vh auto 0;
		width: 70%;
	}
}
@media(min-width:768px){
	.bt1-index{
		margin: 40vh auto 0;
		width: 70%;
	}
	.bt2-index{
		margin: 50vh auto 0;
		width: 70%;
	}
}
@media(min-width:900px){
	.bt1-index{
		margin: 40vh auto 0;
		width: 70%;
	}
	.bt2-index{
		margin: 50vh auto 0;
		width: 70%;
	}
}
.bt1-index,.bt2-index{
	-webkit-transition:all 0.5s ease-out;
	-moz-transition:all 0.5s ease-out;
	-ms-transition:all 0.5s ease-out;
	-o-transition:all 0.5s ease-out;
	transition:all 0.5s ease-out;
}
.bt1-index:hover, .bt2-index:hover {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
}
.img-index {
    height: 100vh;
    min-width: 100%;
    position: fixed;
    z-index: 1;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: auto;
    left: 50%;
}