body{
   position: relative;
}
@media(max-width:768px){
	.bt1-index{
		margin: 35% auto 0;
		width: 70%;
	}
	.bt2-index{
		margin: 50% auto 0;
		width: 70%;
	}
}
@media(min-width:768px){
	.bt1-index{
		margin: 60% auto 0;
		width: 70%;
	}
	.bt2-index{
		margin: 80% auto 0;
		width: 70%;
	}
}
@media(min-width:900px){
	.bt1-index{
		margin: 70% auto 0;
		width: 70%;
	}
	.bt2-index{
		margin: 100% auto 0;
		width: 70%;
	}
}
.bt1-index,.bt2-index{
	-webkit-transition:all 0.5s ease-out;
	-moz-transition:all 0.5s ease-out;
	-ms-transition:all 0.5s ease-out;
	-o-transition:all 0.5s ease-out;
	transition:all 0.5s ease-out;
}
.bt1-index:hover, .bt2-index:hover {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
}
@media(max-width:500px){
	.header-index{
		height:350px;
	}
}
@media(min-width:500px){
	.header-index{
		height:400px;
	}
}
@media(min-width:750px){
	.header-index{
		height:500px;
	}
}
@media(min-width:900px){
	.header-index{
		height:650px;
	}
}