
	.item-img{
		height: 150px;
		padding: 10px;
		border-bottom: 1px solid #c0c0c0;
		border-left:  1px solid #c0c0c0;
	}
	.item-img >a> img {
		width: 90%;
		left: 0;
		height: 100%;

	}
	.col-md-8 {
		padding: 10px;
	height: 150px;
		padding-left: 30px; 
		margin: 0;
		width: 75%;
		border-bottom: 1px solid #c0c0c0;
		
	}
	
    .thoigian{
      margin-top: 36px;
      bottom: 0; 
      color:gray;
     }
     .giatien {
       padding-top: 3px;
      color: red;
      font-weight: bold;
     }
     .title {
     	font-size: 20px;
     	padding-top: 10px;
     }
     
     

     .item-list{
     	margin-bottom: 20px;
     	margin-right: 92px;
     }
     .item-list:hover {
     margin-top: -5px;
     border: 1px solid rgb(200, 200, 200);
     box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
     background: rgba(200, 200, 200, 0.1);
     transition: 0.5s;
    }