#custom-search-input{
    padding: 2px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

h3{
    text-align: center;
}


#over {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}
a, a:visited, a:active{
    text-decoration:none;
}
.dropdown:hover .dropdown-menu {
	display:block !important;
}
.khuvuc
{
    background-color:#edeaea;
    height:auto;
    width:60%;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:14px;
    padding-bottom:5px;
    display:none;
    overflow:hidden;
    position:fixed;
    z-index:99999;
    top: 40%;
	left:20%;
	text-align:center;
	color:black;
}
.theloai
{
    background-color:#edeaea;
    height:auto;
    width:60%;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:14px;
    padding-bottom:5px;
    display:none;
    overflow:hidden;
    position:fixed;
    z-index:99999;
    top: 40%;
	left:20%;
	text-align:center;
	color:black;
}
.khuvuc2, .khuvuc3
{
    background-color:#edeaea;
    height:auto;
    width:60%;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:14px;
    padding-bottom:5px;
    display:none;
    overflow:hidden;
    position:fixed;
    z-index:99999;
    top: 40%;
	left:20%;
	text-align:center;
	color:black;
}
 .dropdown:hover .dropdown-menu {
	display:block !important;
}
.bk{
	padding:5px;
	font-size: 25px;
}
.title-box{
	font-weight: bold;
    padding: 10px 0px 0;
    text-transform: uppercase;
    font-size: 16px;
}
.title-box2{
	font-weight: bold;
    padding: 10px 0px 0;
    text-transform: uppercase;
    font-size: 16px;
}
.quan,.loai{height:50%;width:100%; background:white; color: black}

.quan ul,.loai ul{ background: #white;
  width: 100%;
  padding: 0;
  list-style-type: none;
  text-align: left;
  margin-bottom:0;
  }
.quan li,.loai li{
  width: auto;
  height: 100%;
  line-height: 40px;
  border-bottom: 1px solid #e8e8e8;
  padding: 0 1em;
  text-align:center;
}
.quan li a ,.loai li a{
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
}
.quan li:hover ,.loai li:hover{
  background: #CDE2CD;
}

.quan2{height:50%;width:100%; background:white; color: black}

.quan2 ul{ background: #white;
  width: 100%;
  padding: 0;
  list-style-type: none;
  text-align: left;
  margin-bottom:0;
  }
.quan2 li {
  width: auto;
  height: 100%;
  line-height: 40px;
  border-bottom: 1px solid #e8e8e8;
  padding: 0 1em;
  text-align:center;
  background:white;
}
.quan2 li a {
	  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
}
.quan2 li:hover {
  background: #CDE2CD;
}
.dropdown-menu{
	margin:0 !important;
}
.pull-left.bk {
  padding: 7px;
}
.btn-popup{
	background: #EC971F;
    padding: 7px 0;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.btn-popup a{
	color:#fff;
	padding: 10px 20px;
	text-decoration:none!important;
}
.btn-popup1{
	margin-top:15px!important;
}