
button{
    margin: 0;
    padding: 0;
}
.img-use {
    width: 30px;
    height: 100%;
    padding-top: 10px;
}

.navbar{
   width: 100%;
   position:fixed;
   z-index: 1;
   top:0;
}

.navbar-brand img {
    width:50px;
    margin-top:  -10px !important;
    padding:0;
    height:50px;
}

.collapse > ul >li> a{
    font-weight: bold;
}

.active {
    margin-top: 7px;
}
