
.nav-button > button{
    margin-top: -17px;
    padding: 7px;
}
.nav-img-use {
    width: 30px;
    height: 100%;
    padding-top: 5px;
}

.navbar{
    height: 60px;
    width: 100%;
    position:fixed;
    top:0;
}

.nav-logo >img {
    width:50px;
    margin-top:  -20px !important;
    padding:0;
    height:50px;
}

.collapse > ul >li> a{
    font-weight: bold;
}

.nav-active {
    margin-top: 1px;
}
